.description {
  position: relative;
}

.bio {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  height: 400px;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgb(187, 186, 186);
  border-radius: 20% 80% 30% 70%/70% 30% 70% 30%;
}

.bio > h2 {
  text-transform: uppercase;
  color: var(--dark-blue);
  font-weight: 600;
  margin-bottom: 30px;
}

.bio > p {
  font-size: 14px;
}
