.itemContainer {
  display: flex;
  flex-direction: column;
}

.itemContainer h2 {
  font-size: 25px;
}

.itemContainer img {
  height: 300px;
  width: 100%;
}

.itemContainer span {
  font-size: 18px;
}

.itemContainer p {
  color: var(--text-secondary-color);
}
