.searchContainer {
  background-color: var(--dark-blue);
  padding: 50px 20px;
  margin-bottom: 50px;
}

.searchForm {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 100%;
}

.searchForm button {
  width: 25%;
  border: none;
  box-shadow: 0 0 6px var(--dark-blue);
  height: 50px;
}
.formControl {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 10px;
}
.formControl > label {
  color: var(--white-color);
}
.formControl input,
select {
  padding: 10px;
  border: none;
  box-shadow: 0 0 6px var(--dark-blue);

  width: 100%;
  margin-bottom: 0 !important;
  min-height: 50px;
}
